@media (min-width:767px){
    .nav-toggle{
        display: none;
    }   
}

@media (max-width:767px) {

    html{
        font-size: 0.8rem;
    }

    section{
        margin-bottom: 30px;
    }

    /*--------------------------------------topo-----------------------------*/

    #topo{
        background-color: #4D84EC;
    }

    .menu{
        display: none;
    }

    /*--------------------------------------sobre-----------------------------*/

    #Sobre{
        display:none;
    }

    /*--------------------------------------card-----------------------------*/

    .conjunto-card{
        padding-left: 0px;
        justify-content: left;
    }

    .card{
        width: 120px;
        height: 140px;
        background-color: #4D84EC;
        border: 2px solid #1551C2;
        transition: 0.1s;
        font-size: smaller;
        cursor: pointer;
    }

    .card:active{
        background-color: #1551C2;
    }

    .carro{ 
        width: 100%;
        margin-left: 0px;
    }

    .info{
        display: none;
    }

    .comprar{
        display: none;
    }

    /*--------------------------------------newsletter-----------------------------*/

    #newsletter{
        margin-top: 0px;
    }

    .conteudo img{
        display: none;
    }

    .conteudo p{
        padding: 0px 10px;
    }
    
    /*--------------------------------------rodape-----------------------------*/

    #rodape{
        display: inherit;
    }
    
    .desc{
        width: 90%;
    }

    .informaçoes, .redes{
        display: none;
    }
}