@media (min-width:767px){
    .nav-toggle{
        display: none;
    }   
}

@media (max-width:767px) {

    html{
        font-size: small;
    }

    section{
        margin-bottom: 30px;
    }

    /*--------------------------------------topo-----------------------------*/

    #topo{
        background-color: #4D84EC;
    }

    .menu{
        display: none;
    }

    /*--------------------------------------sobre-----------------------------*/

    #Sobre{
        display:none;
    }

    /*--------------------------------------card-----------------------------*/

    .card{
        width: 100px;
        height: 160px;
        filter: drop-shadow(0px 4px 4px #000000af);
    }

    .carro{
        width: 100%;
        margin-left: 0px;
    }

    .info{
        display: none;
    }

    .comprar{
        display: none;
    }

    /*--------------------------------------newsletter-----------------------------*/

    #newsletter{
        margin-top: 0px;
    }

    .conteudo img{
        display: none;
    }
    
    /*--------------------------------------rodape-----------------------------*/

    #rodape{
        display: inherit;
    }

    .informaçoes, .redes{
        display: none;
    }
}