:root{
    --color1: #306BD9;
    --color2: #000000;
}

@font-face {
    font-family: titulo;
    src: url(fontes/TESLA.ttf) format('truetype');
}

html{
    font-family: Verdana;
    color: white;
    scroll-behavior: smooth;
    min-width: 300px;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;

    background-color: var(--color2);
    text-align: center;
}

li, a{
    list-style: none;
    text-decoration: none;
    color: white;
}

h1, h2, h3, p, a, strong{
    margin-top: 0px;
}

section{
    margin-bottom: 90px;
    padding-top: 70px;
}



/*--------------------------------------botao-----------------------------*/

button{
    border: 0px;
}

.botao{
    position: relative;
    top: 40px;
    padding: 20px 40px;
    background-color: var(--color1);
    border-radius: 5px;
    transition: 0.5s;
}

.botao:hover{
    box-shadow: 0 0 30px 10px var(--color1);
}

/*--------------------------------------topo-----------------------------*/

#topo{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #25385c42, #25385c42), #1e283885;
    backdrop-filter: blur(5px);
    height: 60px;
    z-index: 1;
}

.logo{
    display: flex;
    align-items: center;   
    padding-left: 10px;
}

.logo strong{
    font-family: titulo;
}

.nav{
    height: 24px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0px;
    padding-right: 25px;
}

.itens{
    padding: 20px;
}

.menu li:hover{
    background-color: var(--color1);
}

.nav-toggle{
    margin-right: 40px;
    font-size: 1.25rem;
    cursor: pointer;
}

/*--------------------------------------home-----------------------------*/

.titulo-home{
    margin-bottom: 50px;
}

.home-img{
    width: 100%;
    margin-bottom: 30px;
}

.nome{
    margin-bottom: 20px;
}

.dados{
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-auto-rows: minmax(300px, 480px);
    justify-content: center;
}

.dados h3{
    margin-bottom: 10px;
}
 
/*--------------------------------------sobre-----------------------------*/

#Sobre{
    display: flex;
    justify-content: space-evenly;
}

.sobre-img{
    width: 480px;
}

.texto{
    width: 448px;
}

.texto p{
    text-align: justify;
}

.caixa-texto{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1e283885;
    backdrop-filter: blur(2px);
    width: 158px;
    padding: 10px;
    position: relative;
    bottom: 85px;
    left: 310px;
    border-radius: 20px;
}

/*--------------------------------------popular-----------------------------*/

.conjunto-card{
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------------card-----------------------------*/

.card{
    text-align: left;
    width: 210px;
    height: 269px;
    padding: 32px 24px 24px 24px;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: #000000;
    border: 1px solid var(--color1);
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px #00000040);
    font-size: 1em;
}

.card h3{
    width: fit-content;
}

.carro{
    width: 180px;
    margin-left: 32px;
}

.info{
    margin: 10px 0px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.info div{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin-right: 30px;
}

.info div img{
    margin-right: 5px;
}

.comprar{
    position: relative;
    bottom: 50px;
    left: 185px;
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    background-color: #4b78cc;
    transition: 0.5s;
}

.comprar:hover{
    background-color: var(--color1);
}

/*--------------------------------------newsletter-----------------------------*/

#newsletter{
    margin-top: 90px;
    padding-bottom: 40px;
    background-color: #4982ee79;
}

.conteudo{
    display: flex;
    justify-content: space-around;
}

.conteudo div{
    width: 470px;
}

.conteudo div p{
    text-align: justify;
}

.conteudo img{
    width: 450px;
}

/*--------------------------------------rodape-----------------------------*/

#rodape{
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-bottom: 20px;
}

.desc{
    width: 400px;
    padding-left: 10px;
}